@{
  Layout = "_Layout";
}
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to Pierre's Bakery</h1>
  <p class="lead">Here you can keep track of all of your vendors and its respective orders.</p>
  <hr class="my-4">
  <img src="https://images.pexels.com/photos/1739748/pexels-photo-1739748.jpeg" alt="bakery" width="90%" >
  @* <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> *@
</div>